@import url(reset.css);
@import url(colors.css);
@import url(classes.css);

@import url(checkbox.css);

/*General*/

body{
  background-color:var(--oscuro);
}
.quiz {

}

#carrusel{
  min-width:320px;
  max-width:950px;
  min-height:950px;
}

.spacer{
  width:100%;
  height:20vh;
  display:block;
  background-color:gray;
}

.swiper {
    width: 100%;
    height:100vh;
    background-color:var(--color-fondo);
  }





/*Animaciones*/
  @keyframes entrada-izquierda {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /*Animaciones*/
  @keyframes entrada-derecha {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

/*SLIDER (SWIPER)*/
/*NAV izquierda derecha*/

:root{
  --swiper-navigation-top-offset:25vh;
  --swiper-navigation-sides-offset:0;
  --swiper-navigation-size: 10vh;
 
 }
 
 .swiper-button-next, .swiper-button-prev{
   background-color:var(--oscuro);
   margin:0;
   border-radius:50px;
   height:15vh;
 }
 
 .swiper-button-prev{
   background-color:var(--oscuro);
   margin:0;
   border-radius:0 50px 50px 0;
 }
 
 .swiper-button-next{
   background-color:var(--oscuro);
   margin:0;
   border-radius:50px 0 0 50px;
 }
 
 .swiper-button-next:after, .swiper-button-prev:after{
   font-size: 5vh;
 }
 
 

/* CABECERA DEL SLIDER*/
  .swiper .head{
    position:absolute;
    width:100%;
    padding:0;
    margin-top:20px;
  }

  .swiper .head ul{
    padding:0;
    margin:0;

  }
  .swiper .head li{
    display:inline-block;
    background-color:white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin:0;
    padding:10px 30px;
    animation: entrada-izquierda 1s ease;
  }
  .swiper .head li.l2{
    background-color: var(--oscuro);
    color:white;
    position:absolute;
    left:0;
    z-index:-1;
    padding-left:200px;
    animation: entrada-izquierda 2s ease;
  }

  .swiper-slide{
    padding: 70px 0px;
  }


  
/*PROMPT*/
/*Estilos de la sección de prompt*/
.prompt h1, .prompt h2, .prompt p {
  color:white;
}

.prompt {
    position:relative;
    display:table;
    z-index:20;
    height:40vh;
    padding: 20px;
    text-align: center;
    line-height: 30px;
}

.prompt-content{
  display: table-cell;
  vertical-align:middle;
  background-color:rgba(0,0,0,0.2);
  border-radius: 20px;
  height:100%;
  padding:30px;
}


/*AREA DE RESPUESTA*/
/*área del form*/

.question-options {
    background-color:var(--form-background);
    position:relative;
}

.question-options .deco-top{

  box-sizing: border-box;
  display:block;
  
  position:absolute;
  top:-300px;

  z-index:-5;
  height:50%;
  width:100%;
  background: url(../img/paper-bkg.png) bottom repeat-x; 
  background-size:auto 100px;
}

.question-options .deco-top-claro{
  box-sizing: border-box;
  display:block;
  
  position:absolute;
  top:-100px;

  height:100px;
  width:100%;
  background: url(../img/corte-claro.png) top repeat-x; 
  background-size: auto 100px;
}


/* general para los botones de opcion*/

label p{
  left:110px;
}

.quiz-option{
  border:red thin dotted;
}

.quiz .question-options label {
    position:relative;
    display: block;
    font-size: 1em;
    color: white;
    background-color: var(--oscuro);
    margin: 10px 20px;
    padding: 20px 50px;
    border-radius:50px;
    height:80px;
    animation: entrada-derecha 1s ease-out;

}

.quiz .question-options label:hover::before{
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.quiz .question-options label:hover {
  background-color: var(--fondo-resaltado);
  transition: .5s;
}


/*Footer*/

.slide-ft {
  text-align:center;
  margin:0;
  padding:0;
    
}
button[type="submit"]{
  color:var(--form-control-color);
  font-size:30px;
  padding:10px;
  border-radius: 50px;
  background-color: var(--oscuro);
  
}
