/*General*/
.quiz {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;

}


.quiz>* {
    border: red thin dotted;
}

/*Área de la pregunta*/
.prompt {
    grid-area: 1 / 1 / 2 / 4;
    padding: 20px;
    text-align: center;
    line-height: 30px;
}

/*área del form*/
.question-options {
    grid-area: 2 / 1 / 3 / 4;
}

.question-options::before{
  box-sizing: border-box;
  display:block;
  position:absolute;
  content: 'ooo';
  height:100px;
  width:100%;
  background-image: url(../../img/corte-blanco.png) repeat-x ;
  
}


.slide-ft {
    grid-area: 3 / 1 / 4 / 4;
}




/* general para los botones de opcion*/

.quiz .question-options label {
    position:relative;
    display: block;
    font-size: 20px;
    color: white;
    background-color: var(--oscuro);
    margin: 0 0 10px 100px;
    padding: 20px 50px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    height:80px;

}

.quiz .question-options label:hover::before{
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.quiz .question-options label:hover {
  background-color: var(--hover-botones);
  box-shadow: 0 0 5px var(--hover-botones);
  transition: .5s;
}


/*CHECKBOX*/

input[type="checkbox"], label p{
  position:absolute;
  line-height:40px;
}

label p{
  left:110px;
}


input[type="checkbox"] {

  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 2.15em;
  height: 2.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  /*clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);*/
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid var(--resaltado-checkboxes);
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}
