
/* general para los botones de opcion*/

p.checkbox-container {
  width: 50px !important;
  left: 110px;
}

.quiz-option {
  padding: 5px 20px;
}

.question-options label {
  display:flex;
  align-items:center;
  
  z-index: 22;
  position: relative;

  font-size: 1em;
  color: white;
  background-color: var(--oscuro);
  padding: 20px 50px;
  border-radius: 50px;
  animation: entrada-derecha 1s ease-out;
}
.question-options label p {
  margin-left:20px;
}


.question-options label:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.question-options label:hover,
button[type="submit"]:hover,
.btn:hover {
  background-color: var(--fondo-resaltado);
  transition: .5s;
}

.question-options label:active,
button[type="submit"]:active,
.btn:active {
  transform: scale(0.95);
  transition: .5s;
}


/*Parte inferior de las preguntas*/

.questionFt{
  display:flex;
  height:20vh;
}

button[type="submit"], .btn {
  flex:1;
  color: var(--form-control-color);
  font-size: 30px;
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
  background-color: var(--oscuro);
}


/*Clases que se aplican a los botones después de correr el checkAnswers sobre la pantalla de la pregunta.*/

.correct {
  background-color: lightgreen !important;
  transition: all 0.2s;
}

.incorrect {
  background-color: lightcoral !important;
  transition: all 0.2s;
}

.incorrect-unchecked{
  border: lightcoral thick solid !important;
}

label:has(> input.incorrect) {
  background-color:lightcoral;
}

label:has(> input.correct) {
  background-color:lightgreen;
}

.active{
  border:#ffee10;
}
/*Caja emergente que entrega retroalimentación*/
.feedback-box {
  position: absolute;
  bottom: 0px;
  z-index: 33;
  width: 100%;
  height: 20vh;
  padding: 20px;
  text-align: center;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  animation: entrada-abajo 1s;
  display: none;
}


input.mark{
  background-color:white;
}