
/*AREA DE RESPUESTA QUIZ*/

/*FONDO*/

.question-options {
    background-color:var(--form-background);
    position:relative;
    
}

.question-options .deco-top {
  height:100px;
  width:100%;
  
  box-sizing: border-box;
  display:block;
  
  position:absolute;
  top:-70px;

  z-index:-5;
  background: url(../img/paper-bkg.png) top repeat-x; 
  background-size:auto 100px;
}

.question-options .deco-top-claro{
  box-sizing: border-box;
  display:block;
  
  position:absolute;
  top:-50px;

  height:100px;
  width:100%;
  background: url(../img/corte-claro.png) top repeat-x; 
  background-size: auto 100px;
}

/* general para los botones de opcion*/

.quiz label p{
  left:110px;
}

.quiz-option{
  padding:5px 20px;
}

.quiz .question-options label {
    z-index:22;
    position:relative;
    display: block;
    font-size: 1em;
    color: white;
    background-color: var(--oscuro);
    padding: 20px 50px;
    border-radius:50px;
    height:80px;
    animation: entrada-derecha 1s ease-out;

}

.quiz .question-options label:hover::before{
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.quiz .question-options label:hover, button[type="submit"]:hover, .btn:hover{
  background-color: var(--fondo-resaltado);
  transition: .5s;
}

.quiz .question-options label:active, button[type="submit"]:active,.btn:active{
  transform: scale(0.95);
  transition: .5s;
}
.quiz label{
  position:relative;
  display: table;
}

.quiz label .txt{
margin-left:3em;
position:absolute;
top:0;
display:table;
height:100%;
width:100%;
max-width:80vw;
}

.quiz label .txt p{
  display:table-cell;
  vertical-align:middle;
}


/*Footer*/

.slide-ft::before {
    content:"";
    width:100%;
    height:100px;
    display: block;
    position:absolute;
    top:-100px;
    background: url(../img/paper-bkg.png) top repeat-x;
    background-size: auto 100px; 

}

.slide-ft {
  text-align:center;
  margin:0;
  padding:0;
  background-color: white;
  position:relative;    
}



button[type="submit"], .btn{
  color:var(--form-control-color);
  font-size:30px;
  padding:10px;
  margin:10px;
  border-radius: 50px;
  background-color: var(--oscuro);
  
}

.correct {
  background-color: lightgreen!important;
  transition:all 0.2s;
}

.incorrect {
  background-color: lightcoral!important;
  transition:all 0.2s;
}

.feedback-box{
  position:absolute;
  bottom:0px;
  z-index:33;
  width:100%;
  height:20vh;
  padding:20px;
  text-align:center;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  animation: entrada-abajo 1s;
  display:none;
}