/*AREA DE RESPUESTA QUIZ*/

/*FONDO*/

.question-options {
  background-color: var(--form-background);
  position: relative;
}

.question-options ul{
  position:relative;
  z-index:20;
  padding:0 20px 0 20px;
}

.question-options ul li{
  margin:0 0 20px 0;
}

.question-options .deco-top {
  height: 200px;
  width: 100%;
  display: block;
  position: absolute;
  top: -70px;
  background: url(../img/paper-bkg.png) top repeat-x;
  background-size: auto 200px;

}

.question-options .deco-top-claro {
  display: block;
  position: absolute;
  bottom:0;
  height: 100px;
  width: 100%;
  background: url(../img/corte-claro.png) top repeat-x;
  background-size: auto 100px;
  
}

/* general para los botones de opcion*/

p.checkbox-container {
  width: 50px !important;
  left: 110px;
}

.quiz-option {
  padding: 5px 20px;
}

.question-options label {
  display:flex;
  align-items:center;
  
  z-index: 22;
  position: relative;

  font-size: 1em;
  color: white;
  background-color: var(--oscuro);
  padding: 20px 50px;
  border-radius: 50px;
  animation: entrada-derecha 1s ease-out;
}
.question-options label p {
  margin-left:20px;
}


.question-options label:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.question-options label:hover,
button[type="submit"]:hover,
.btn:hover {
  background-color: var(--fondo-resaltado);
  transition: .5s;
}

.question-options label:active,
button[type="submit"]:active,
.btn:active {
  transform: scale(0.95);
  transition: .5s;
}




/*Footer*/

.slide-ft::before {
  content: "";
  width: 100%;
  height: 100px;
  display: block;
  position: absolute;
  top: -100px;
  background: url(../img/paper-bkg.png) top repeat-x;
  background-size: auto 100px;

}

.slide-ft {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: white;
  position: relative;
}



button[type="submit"],
.btn {
  color: var(--form-control-color);
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  background-color: var(--oscuro);

}

.correct {
  background-color: lightgreen !important;
  transition: all 0.2s;
}

.incorrect {
  background-color: lightcoral !important;
  transition: all 0.2s;
}

.feedback-box {
  position: absolute;
  bottom: 0px;
  z-index: 33;
  width: 100%;
  height: 20vh;
  padding: 20px;
  text-align: center;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  animation: entrada-abajo 1s;
  display: none;
}