@import url(animation.css);
@import url(colors.css);
@import url(checkbox.css);
@import url(radio.css);
@import url(quiz-buttons.css);
@import url(modal.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html,
body {
    background-color: var(--background-1);
    font-family: sans-serif;
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.hidden{
    display:none;
    transition: 0.5s all;
}


/*HEAD*/
/* CABECERA DEL SLIDER--------------------------*/

.head {
    position: absolute;
    width: 100%;
    padding: 0;
    margin-top: 20px;
}

.head ul {
    padding: 0;
    margin: 0;

}

.head .activity-label li {
    position: absolute;
    display: inline-block;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    padding: 10px 30px;
    animation: entrada-izquierda 1s ease;
    z-index: 999;
}

.head li.l2 {
    background-color: var(--oscuro);
    color: white;
    position: absolute;
    left: 0;
    padding-left: 200px;
    animation: entrada-izquierda 2s ease;
    z-index: 998;
}


.statusbar{
  position:absolute;
  display:flex;
  justify-content: space-between;
  align-items: center;
  right:0;
  width:30vw;
  min-width: 10em;
  font-size:1.2em;
  color:white;
  border: white 0.4em solid;
  border-radius: 20vh;
  padding:20px;
  margin:0 40px;
}

.statusbar ul {
  display:flex;
  justify-content:left;
  flex-grow: 1;
}
.statusbar ul li{
  display:block;
  width:20px;
  height:20px;
  margin-right:4px;
  border: white 0.2em solid;
  background-color: transparent;
  border-radius:20px;
}








/*slider*/

.slider-container {
    display: flex;
    overflow: hidden;
    min-width: 360px;
    max-width: 850px;
    min-height:240px;
    /* Ajusta el ancho según tus necesidades */
    margin: 0 auto;
}

.slider {
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease-in-out;
    height:100vh;
    max-width: 100%;

}

.slide {
    flex: 0 0 100%;
    
    display:flex;
    flex-direction: column; /* Orientación vertical */
    justify-content: space-between;

}

.slide .sup{
  border:red thin dotted;
  flex-wrap:wrap;
  justify-content:center;
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height:100%;
  color:white;
}
.slide .sup h2{
  color:white;
}

.slide h2{
text-align:center;
}




.prompt h1, .prompt h2, .prompt p {
    color:white;
  }


  /*Area del prompt, contenido de la pregunta*/
  
  .prompt {
      position:relative;
      display:table;
      z-index:20;
      height:40vh;
      padding: 20px;
      text-align: center;
      line-height: 30px;
  }
  
  .prompt-content{
    display: table-cell;
    vertical-align:middle;
    border-radius: 20px;
    height:100%;
    padding:30px;
  
    animation: entrada-derecha 1s ease;
  }
  
/*AREA DE RESPUESTA QUIZ*/

/*FONDO*/

.question-options {
    background-color: var(--form-background);
    position: relative;
  }
  
  .question-options ul{
    position:relative;
    z-index:20;
    padding:0 20px 0 20px;
  }
  
  .question-options ul li{
    margin:0 0 20px 0;
  }
  
  .question-options .deco-top {
    height: 200px;
    width: 100%;
    display: block;
    position: absolute;
    top: -70px;
    background: url(../img/paper-bkg.png) top repeat-x;
    background-size: auto 200px;
  }
  
  .question-options .deco-top-claro {
    display: block;
    position: absolute;
    bottom:0;
    height: 100px;
    width: 100%;
    background: url(../img/corte-claro.png) top repeat-x;
    background-size: auto 100px;
    
  }
  

  /* Feedback */

  .feedback {
    /* Posicionamiento */
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    
    /* Tamaño y apariencia */
    width: 100vw;
    max-width: 960px;
    min-height: 20vh;
    background-color: white;
    border: thin solid gray;
    border-radius: 40px 40px 0 0;
    padding: 1em;
    
    /* Animaciones y transiciones */
    animation: entrada-inferior;
    transition: 0.5s all;
    
    /* Otros */
    z-index: 100;

  }
  .correct{
    background-color: green!important;
  }

  .incorrect{
    background-color: red;
  }